.my_bg {

    background-color: black;
    position: relative;
    height: 20px;
}

.my_bg img {

    margin: 5px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.my_button {

    padding: 10px 15px;
    background-color: #353535;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none   ;
}

.mb_red {

    background-color: red;
}

.mb_blue {

    background-color: blue;
}


a:link svg, a:visited svg  {

    color: black;
}

#leader {

    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;

}

a:hover .hv_img {

    border: blue 2px solid;
}





