.my_bg {

    background-color: black;
    position: relative;
    height: 20px;
}

.my_bg img {

    margin: 5px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
}

.my_button {

    padding: 10px 15px;
    background-color: #353535;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none   ;
}

a:link svg, a:visited svg  {

    color: black;
}
